body {
    background: lightslategray;
}

.container {
    width: 300px;
    margin: 20px auto;
    height: 300px;
    display: grid;
    grid-gap: 4px;
    grid-template-rows: 100px 100px 1fr 1fr;
    grid-template-columns: 80px 1fr 30px;
}

.item {
    background: #F3F3F3;
}

.one {
    grid-row: 1;
    grid-column: 1;
}

.two {
    grid-row: 2;
    grid-column: 1;
}

.three {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column:2;
    width: 204px;
    height: 204px;
    background: red;
}

.four {
    grid-row: 3;
    grid-column: 1;
    height: 100px;
    background: blue;
}

.five {
    grid-row: 3;
    grid-column: 2;
    width: 85.25%;
}

.six {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: end;
    height: 48%;
    width: 12.75%;
    
}

.seven {
    grid-row: 3;
    grid-column: 2;
    background: yellow;
    justify-self: end;
    align-self: end;
    height: 48%;
    width: 12.75%;
}